.code {
  text-align: left !important;
  max-width: 30rem !important;
  margin-left: auto;
  margin-right: auto;
}

.hljs {
  max-width: 30rem !important;
  margin-left: auto;
  margin-right: auto;
  text-align: left !important;
}

.hljs-code {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.hljs-ln-n {
  margin-right: 0.4rem;
}

.hljs-ln-numbers {
  text-align: center !important;
}

article p {
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
}

article > figure img {
  max-width: 30rem;
}
